@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}
input {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
    border: none; 
    outline: none;
}
/*body {
    height: 100vh; /*нужно, чтобы сработал align items - надо выровнять по центру?
}*/
.card {    
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 336px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}
.card-header {
    background: #FFDC40;
    height: 28px;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 10px 10px 0 0 ;
}
.card-header-text{
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 14px;
}
#field {
    /*display: flex;
    justify-content: center;
    flex-direction: column; 
    можно использовать, но надо урать лишние отступы*/
    width: 80%;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    min-height: 40px;    
}
.input {
    font-family: inherit; /**/
    position: relative;
    margin: 10px 0; 
}
.inp {
    border: none;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    margin-left: 27px;
}
.delete {
    position: absolute;
    top: 0px; 
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /*margin-left: 20px;*/
    border-radius: 10px;
    background-image: url(img/deleteGray.svg);  
}
.delete:hover {
    background-image: url(img/deleteViolet.svg);  
}
#add {
    display: flex; 
    margin: 19px;
    min-width: 150px;
    height: 42px; 
    border-radius: 21px; 
    background: #833AE0;
    cursor: pointer; 
    color: #FFFFFF;
    font-size: 14px;
}
.plus {
    margin: 0;
    padding: 0;
    width: 42px;
    height: 42px; 
    line-height: 42px; 
    border-radius: 50%; 
    text-align: center;
    background-color: #9953F1;
}
.add-text {
    line-height: 42px;
    margin-left: 30px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

#add:hover{
    background:  #9953F1;
} 
#add:hover .plus {
    background:  #AA68FE; 
    /*специфичность, чтобы кнопка менялась вся при наведении
    несмотря на то, что состоит из раных блоков!*/
}
.sort {
    width: 25px;
    height: 15px;
    margin: 8px 0;
    position: relative;
    left: 125px;
}
/*как сделать, чтобы отображалось на 1 линии*/
.sort:hover::after { 
    content: "sort me"; 
    position: absolute; 
    left: 110%; top: 5%; 
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgb(255, 255, 255, 0.4); /* Полупрозрачный цвет фона */
    font-family: inherit; 
    font-size: 11px; 
    padding: 1px 3px;
    border: 1px solid rgb(138, 135, 135); 
   }
.sortUp {
    background-image: url(img/downgray.svg); 
}
.sortUp:hover{
    background-image: url(img/downblack.svg); 
}
.sortDown {
    background-image: url(img/upgray.svg); 
}
.sortDown:hover {
    background-image: url(img/upblack.svg); 
}