@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}
button,
input {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
    border: none; 
    outline: none;
  }
    /**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
   [type="button"]::-moz-focus-inner,
   [type="reset"]::-moz-focus-inner,
   [type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
}
   /**
    * Restore the focus styles unset by the previous rule.
    */ 
button:-moz-focusring,
   [type="button"]:-moz-focusring,
   [type="reset"]:-moz-focusring,
   [type="submit"]:-moz-focusring {
     outline: 1px dotted ButtonText;
}

.container {
    display: flex; 
    justify-content: center;
    margin-top: 40px;
    align-items: center; /*почему не работает*/
}
.card { 
    width: 336px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-header {
    background: #FFDC40;
    height: 28px;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 10px 10px 0 0 ;
}
.card-header-text{
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 13px;
}

.sort-button {
    cursor: pointer;
    display: block;
    text-align: right;
    margin-right: 30px;
    /*background: transparent;
    border: none; 
    outline: none; если ставить кнопку, 
    то убрать встроенные стили */
}
.sort-button:hover {

}
.field {
    margin-top: 13px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}
#input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    margin: 0 22px;
    min-height: 40px;
    background-image: url(img/crossGray.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 240px; /*можно же как-то лучше?*/  
    padding-left: 27px; 
    padding-right: 50px;/*отступ от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/  
}
.add-button {
    margin-bottom: 19px;
    display: flex; 
    justify-content: center;
}
.add-button button {
    min-width: 150px;
    background: #833AE0;
    border-radius: 71px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    padding: 0 20px 0 0;
    min-height: 42px;
    display: flex;
    align-items: center;
}

.add-button img {
    margin-right: 10px;/*почему не дает сделать отступ?*/
}
.add-button button:hover {
    background:  #9953F1;
}
